@import url('https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  color-scheme: dark;
}

body {
  background-color: #000;
  color: #fff;
}

/* Custom scrollbar for webkit browsers */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #09090b; 
}

::-webkit-scrollbar-thumb {
  background: #27272a; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3f3f46; 
}
